*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    
  }

  header{
    background-color: darkgreen;
    padding: 10px;
    font-size: 35px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Separates logo and title */
    width: 100%;
}

.logo {
    max-width: 150px;
    height: auto;
    padding: 7px;
    margin-left: 20px;
}

.header-title {
    flex-grow: 1; /* Allows the title to expand and center itself */
    text-align: center;
    margin-right: 200px;
}

h1 {
    margin: 0;
    text-align: center;
}

nav {
    width: 100%;
    border-bottom: 1px black solid;
    background-color: green;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type:none;
    display: flex;
    width: 100%;
    justify-content: center;
}  
    
nav ul li {
    flex-grow: 1;
    text-align: center;
}


nav ul li a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: darkgreen;
}

#main {
    padding: 30px;
    
    flex-grow: 1;
}

footer {
    margin: 0; /* Ensures no additional spacing */
    background-color: darkgreen;
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px;
    margin-top: auto;
    position: relative;
}


.ullogo {
    max-width: 200px;
    height: auto;
}

.contact {
    max-width: 200px;
    height: auto;
}

.fencingireland {
    max-width: 200px;
    height: auto;
}

.ulwolfes {
    max-width: 200px;
    height: auto;
}

.fencinglogo {
    max-width: 150px;
    height: auto;
}



@media (max-width: 600px) {
    nav ul {
      position: relative;
      width: 100%;
      height: auto;
    }
    .logo {
        max-width: 100px;
    }
    header {
        flex-direction: 0;
        text-align: center;
    }
    h1 {
        margin: 10px 0;
    }
} /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */